*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header & nav styles */
.nav-title{
    font-weight: 800;
    font-size: 45px; 
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: #f1f1f1;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
.header{
    background-color: #f1f1f1;
    background-image: url('../images/header_bg.png'), url(../images/developer.png); 
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/* banner styles----------- */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 20px;
}
.banner-description{
    color:  #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main-section--------------- */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}
/* about-section-style------------ */
.about{
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
    text-align: center;
    margin-bottom: 60px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}
/* what i do styles */
.what-i-do{
    margin-top: 130px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0,0,0,.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
/* resume section-------------- */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    color: #474746;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .sub-title{

}
.resume .description{
    color: #757575;
}
.resume-items{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* contact-section------------------- */
.contact .section-title{
    text-align: left;
}
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 100px 150px;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    width: 100%;
    padding: 18px 30px;
    border: 0;
}
.contact a{
    text-decoration: none;
}